.w1Slideshow{
  max-height: 23.5625rem;
  margin-bottom: $marginTop;
  .column{
    padding:0!important;
  }
  .slickContainer{
    position: relative;
    h1{
      color: $white;
      margin-top: 8rem;
      font-size: rem-calc(70);
      text-shadow: 1px 1px 1px #222;
      @media #{$small-only}{
        font-size: rem-calc(50);
      }
      /* &:after{
        @include HrLine;
        margin: 0 auto;
        border-color: $white;
        margin-top: 2rem;
      }*/
      &:after{
        background-image: url(../img/placeholder3.jpg);
        position: absolute;
        width: 50px;
        height: 50px;
        top: 5%;
        content: "";
        left: 2%;
      }
    }
    h2{
      @extend h3;
      color:$white;
      text-shadow: 1px 1px 1px #222;
    }
    a{
      @media #{$small-only}{
        margin-top: $marginTop;
      }
      margin-top: 3rem;
    }
    .slide1{
      @include SlideShow;
      background-image: url(../img/nicomokslider3.jpg);
      @media #{$small-only}{
        background-position-x: -305px;
      }
      @media #{$xlarge-only}{
        background-position-y: -280px;
      }
      @media #{$xxlarge-only}{
        background-position-y: -430px;
      }
    }
    .slide2{
      @include SlideShow;
      background-image: url(../img/nicomokslider1.jpg);
      @media #{$small-only}{
        background-position-x: -78px;
      }
      @media #{$xlarge-only}{
        background-position-y: -165px;
      }
      @media #{$xxlarge-only}{
        background-position-y: -165px;
      }
    }
    .slide3{
      @include SlideShow;
      background-image: url(../img/nicomokslider4.jpg);
      @media #{$small-only}{
        background-position-x: -179px;
      }
      @media #{$xlarge-only}{
        background-position-y: -3px;
      }
      @media #{$xxlarge-only}{
        background-position-y: -5px;
      }
    }

  }
  .slick-prev,
  .slick-next {
    display: none!important;
  }
}
