.w3Facts{
  margin-top: $marginTop;
  background-image: url(../img/placeholder2.jpg);
  background-repeat: no-repeat;
  background-position: left;
  height: rem-calc(280);
  @media #{$small-only}{
    height: auto;
  }
  padding-top: 2.5rem;
  i{
    color: $primary-color;
    font-size: rem-calc(50);
    margin-bottom: 1rem;
    &:hover{
      color:$primary-color-two;
    }
  }
  h3{
    @media #{$small-only}{
      margin-bottom: 1rem;
    }
  }
  p{
    margin:0;
  }
}
